<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="mybatis.dao.ShoppingMapper">
	<cache />
	<select id="getIngredient" parameterType="int" resultType="Rcp">
		SELECT
			*
		FROM Rcp
		WHERE rcpnum = #{rcpNum}
	</select>
	
	<insert id="insertCart"	parameterType="Cart">
		INSERT INTO cart VALUES(#{cartNum}, #{memNum}, #{productName}, #{qty}, #{price})
	</insert>
	
	<select id="getCart" parameterType="int" resultType="Cart">
		SELECT
			*
		FROM Cart
		WHERE memNum = #{memNum}
	</select>
	
	<delete id="deletCartvalue">
		delete from exam_user 
	</delete>
	
	<select id="getSale" parameterType="int" resultType="Sale">
		SELECT
			*
		FROM sale
		WHERE rcpNum = #{rcpNum}
	</select>
	
	<select id="insert_maxCart" resultType="int">
		SELECT
			nvl(max(cartNum)+1,0) 
		FROM Cart
	</select>
	<select id="insert_maxOP" resultType="int">
		SELECT
			max(productNum)+1 
		FROM order_product
	</select>
	<select id="insert_maxMA" resultType="int">
		SELECT
			max(addressNum)+1 
		FROM mem_address
	</select>
	
</mapper>	